@font-face {
    font-family: "Font";
    src:
        url("/fonts/font-name.woff2") format("woff2"),
        url("/fonts/font-name.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
