@forward "./preloader";
@forward "./normalize";
@forward "./typography";
@forward "./theme";
@forward "./layout";
@forward "./scroll";
@forward "./plyr";
@forward "./modifiers";
@forward "./cursor";

a {
    color: var(--color-contrast);
    text-decoration: none;
}

#teleports {
    position: relative;
    z-index: 1005;
}

#custom-teleports {
    position: relative;
    z-index: 1000;
}
