@use "../variables/colors";

:root {
    --color-light: #{colors.$white};
    --color-dark: #{colors.$black};
    --color-select: rgba(8, 171, 255, 0.33);
    --color-primary: var(--color-dark);
    --color-contrast: var(--color-light);
    --color-red: #{colors.$red};
    --color-blue: #{colors.$blue};
    --color-yellow: #{colors.$yellow};
}

.__body {
    color: var(--color-contrast);
    background-color: var(--color-primary);
}
