// White
$white: #effcfc;
$white-5: rgba($white, 0.05);
$white-30: rgba($white, 0.3);
$white-40: rgba($white, 0.4);
$white-50: rgba($white, 0.5);
$white-60: rgba($white, 0.6);
$white-80: rgba($white, 0.8);

// Black
$black: #000000;
$gray: #1a6264;
$gray-light: #3f8b8d;
$gray-15: rgba($gray, 0.15);
$gray-30: rgba($gray, 0.3);
$gray-95: rgba($gray, 0.95);

// Others
$blue: #0581fe;
$red: #f54d25;
$yellow: #efc11b;
