$res-font-base: 16px; // 1rem
$res-font-mobile-xs: 12px; // 0-320
$res-font-mobile-s: 13px; // 0-480
$res-font-mobile-m: 13px; // 0-768
$res-font-mobile-l: 14px; // 0-900
$res-font-mobile-xl: 14px; // 0-1024
//
$res-font-desktop-s: 15px; // 1025++
$res-font-desktop-m: 16px; // 1440++
$res-font-desktop-l: 18px; // 1920++

$Font: "futura-pt";
