$pad-mobile-xs: 18px;
$pad-mobile-s: 18px;
$pad-mobile-m: 20px;
$pad-mobile-l: 30px;
$pad-mobile-xl: 30px;
//
$pad-desktop-s: 32px;
$pad-desktop-m: 34px;
$pad-desktop-l: 48px;
//
$grid-gap: 1rem;

$header-padding: 2rem;
