$easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
//$easyInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);

$tr-time: 0.55s;
$tr-atf: $easeOutQuart;
